
@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    InventarioTIASPX.Models.User user = ViewData["user"] as InventarioTIASPX.Models.User;
    List<InventarioTIASPX.Models.FileObject> files = ViewData["files"] as List<InventarioTIASPX.Models.FileObject>;
    List<InventarioTIASPX.Models.Note> notes = ViewData["notes"] as List<InventarioTIASPX.Models.Note>;
    List<InventarioTIASPX.Models.UserMemberOf> memberOfs = ViewData["memberOfs"] as List<InventarioTIASPX.Models.UserMemberOf>;
}

<h2>@ViewBag.Title</h2>

<ul class="nav nav-pills">
    <li role="presentation"><a href="@Url.Action("", "Users")" >Regresar</a></li>
</ul>

<div class="row">
    <div class="row">
        <!--Links-->
        <div class="col-md-8">
            <div class="panel panel-default" style="padding:0px; margin-top: 16px;">
                <div class="panel-body">
                    <h3 style="margin-top:0px;">Datos de la cuenta</h3>
                    <div class="row" style="margin-left:16px;">
                        <div class="col-md-3">
                            <label>Usuario de AD</label>
                            <p style="margin-left:8px;">PEMEX\@user.UserId</p>
                        </div>

                        <div class="col-md-4">
                            <label>Nombre de la cuenta</label>
                            <p style="margin-left:8px;">@user.Name</p>
                        </div>

                        <div class="col-md-4">
                            <label>Migracion</label>

                            @if (user.Migrated)
                            {
                                <p style="margin-left:8px;">CUENTA MIGRADA A O365</p>
                            }
                            else
                            {
                                <p style="margin-left:8px;">CUENTA NO MIGRADA A O365</p>
                            }
                        </div>

                        <div class="col-md-6">
                            <label>Correo electronico</label>
                            <p style="margin-left:8px;">@user.Email</p>
                        </div>
                    </div>

                    <h3 style="margin-top:0px;">Titular de la cuenta</h3>
                    <div class="row" style="margin-left:16px;">
                        <div class="col-md-2">
                            <label>Ficha</label>
                            <p style="margin-left:8px;">@user.EmployeId</p>
                        </div>

                        <div>
                            <label>Trabajador</label>
                            <p style="margin-left:8px;">@user.Employe</p>
                        </div>
                    </div>

                    @Html.ActionLink("Editar", "EditUser", "Users", new { userId = user.UserId }, new { @class = "btn btn-primary" })
                </div>
            </div>

            <div class="panel panel-default" style="padding:0px; margin-top: 16px;">
                <div class="panel-body">
                    <!--MIEMBRO DE-->
                    <h3 style="margin-top:0px">Miembro de...</h3>

                    <table class="table" id="devicetable">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Miembro de
                                    <br />
                                </th>

                                <th scope="col" style="width:70px;">
                                    Acciones
                                    <br />
                                </th>

                            </tr>
                        </thead>
                        @if (notes != null)
                        {
                            <tbody>
                                @foreach (var item in user.MemberOfs)
                                {
                                    <tr>
                                        <td scope="row">@item.Description</td>
                                        <td style="text-align:right;">
                                            @Html.ActionLink("Remover", "Remove", "UserMemberOf", new { memberID = item.UserMemberId, userGUID = user.UserGUID, redirect = Url.Action("User", "Users", new { userId = user.UserId }) }, new { @class = "btn btn-danger btn-sm hidden-print" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>

                    @using (Html.BeginForm("Add", "UserMemberOf", FormMethod.Post, new { @class = "form-inline", id = "form-memberof", onsubmit = "return validateForm()", enctype = "multipart/form-data" }))
                    {
                        <script type="text/javascript">
                            function optionSelected(option) {
                                var form = document.forms["form-memberof"];
                                var select = form["UserMemberId"];
                                var input = form["Description"];

                                if (option == "-1") {
                                    input.style.display = "";
                                    input.required = true;
                                    select.required = false;
                                } else {
                                    input.style.display = "none";
                                    input.value = "";

                                    input.required = false;
                                    select.required = true;
                                }
                            }
                            function validateForm() {
                                var form = document.forms["form-memberof"];
                                var usermemberid = form["UserMemberId"];
                                var description = form["Description"];

                                if (usermemberid.value != "" || description.value.trim() != "") {
                                    return true;
                                }
                                else if (usermemberid.value == "-1" && description.value.trim() != "") {
                                    return true;
                                }

                                showErrorMessage(8, "Debes establecer un valor");
                                return false;
                            }
                        </script>
                        <div class="form-group" style="display:none;">
                            <label>UsertGUID</label>
                            <input class="form-control" name="userGUID" value="@user.UserGUID" readonly />
                        </div>
                        <div class="form-group" style="display:none;">
                            <label>Redirect</label>
                            <input class="form-control" name="redirect" value="@Url.Action("User", "Users", new { userId = user.UserId})" readonly />
                        </div>
                        <div class="form-group" style="display:none;">
                            <label>Route</label>
                            <input class="form-control" name="path" value="User" readonly />
                            <input class="form-control" name="controller" value="Users" readonly />
                        </div>
                        <div class="form-group form-group-sm col-md-12" style="text-align:right; padding-right:0px">
                            <label style="vertical-align:top; margin-right:8px;">Definir</label>
                            <div class="form-inline">
                                <input class="form-control" type="text" name="Description" id="Description" placeholder="USUARIO DE INTERNET" onkeyup="this.value = this.value.toUpperCase();" value="" style="width:130px; display:none;"/>
                                <select class="form-control" name="UserMemberId" id="UserMemberId" onchange="optionSelected(this.value)" required>
                                    <option value="">Seleccionar opcion...</option>
                                    <option value="-1">(Agregar permiso...)</option>
                                    @if (memberOfs != null)
                                    {
                                        foreach (var item in memberOfs)
                                        {
                                            <option value="@item.UserMemberId">@item.Description</option>
                                        }
                                    }
                                </select>
                            </div>
                            <br />
                            <input style="margin-top:8px;" class="btn btn-sm btn-success" type="submit" value="Cargar" />
                        </div>
                    }
                </div>
            </div>

            <div class="panel panel-default" style="padding:0px; margin-top: 16px;">
                <div class="panel-body">
                    <!--NOTAS-->
                    <h3 style="margin-top:0px">Notas y observaciones</h3>

                    <table class="table" id="devicetable">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Nota
                                    <br />
                                </th>

                                <th scope="col" style="width:120px;">
                                    Fecha
                                    <br />
                                </th>

                                <th scope="col" style="width:70px;">
                                    Acciones
                                    <br />
                                </th>

                            </tr>
                        </thead>
                        @if (notes != null)
                        {
                            <tbody>
                                @foreach (var item in notes)
                                {
                                    <tr>
                                        <td scope="row">@item.Body</td>
                                        <td>@(new DateTime(item.Ticks).ToString())</td>
                                        <td style="text-align:right;">
                                            @Html.ActionLink("Eliminar", "DeleteNote", "Notes", new { noteId = item.NoteId, redirect = Url.Action("User", "Users", new { userId = user.UserId }) }, new { @class = "btn btn-danger btn-sm hidden-print" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>

                    @using (Html.BeginForm("AddUserNote", "Notes", FormMethod.Post, new { @class = "form-inline", id = "form-notes", onsubmit = "", enctype = "multipart/form-data" }))
                    {
                        <div class="form-group" style="display:none;">
                            <label>ParentId</label>
                            <input class="form-control" name="parentId" value="@user.UserGUID" readonly />
                        </div>
                        <div class="form-group" style="display:none;">
                            <label>Redirect</label>
                            <input class="form-control" name="redirect" value="@Url.Action("User", "Users", new { userId = user.UserId})" readonly />
                        </div>
                        <div class="form-group" style="display:none;">
                            <label>Route</label>
                            <input class="form-control" name="path" value="User" readonly />
                            <input class="form-control" name="controller" value="Users" readonly />
                        </div>
                        <div class="form-group form-group-sm col-md-12" style="text-align:right; padding-right:0px">
                            <label style="vertical-align:top; margin-right:8px;">Nueva nota</label>
                            <textarea class="form-control" name="body" placeholder="Redactar la nota aqui..." onkeyup="this.value = this.value.toUpperCase();" style="min-width:300px; min-height:50px; max-height:200px;" required></textarea>
                            <br />
                            <input style="margin-top:8px;" class="btn btn-sm btn-success" type="submit" value="Cargar" />
                        </div>
                    }
                </div>
            </div>

            <div class="panel panel-default" style="padding:0px; margin-top: 16px;">
                <div class="panel-body">
                    <!--ARCHIVOS-->
                    <h3 style="margin-top:0px">Datos adjuntos</h3>

                    <table class="table" id="devicetable">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Nombre de archivo
                                    <br />
                                </th>

                                <th scope="col">
                                    Tamaño
                                    <br />
                                </th>

                                <th scope="col" style="width:100px">
                                    Cargado
                                    <br />
                                </th>

                                <th scope="col" style="width:180px">
                                    Acciones
                                    <br />
                                </th>

                            </tr>
                        </thead>
                        @if (files != null)
                        {
                            <tbody>
                                @foreach (var item in files)
                                {
                                    <tr>
                                        <td scope="row">@item.Name</td>
                                        <td>@(item.Size / 1024) KB</td>
                                        <td>@(new DateTime(item.UploadedTicks).ToString())</td>
                                        <td style="text-align:right;">
                                            @Html.ActionLink("Descargar", "DownloadFile", "Files", new { fileId = item.FileId }, new { @class = "btn btn-default btn-sm hidden-print" })
                                            @Html.ActionLink("Eliminar", "DeleteFromUser", "Files", new { fileId = item.FileId, userId = user.UserId }, new { @class = "btn btn-danger btn-sm hidden-print" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>

                    @using (Html.BeginForm("UploadUserFile", "Files", FormMethod.Post, new { @class = "form-inline", id = "form-files", onsubmit = "return validateFile()", enctype = "multipart/form-data" }))
                    {
                        <script type="text/javascript">
                            function validateFile() {
                                var form = document.forms["form-files"];
                                if (form["file"].value != null) {
                                    if (form["file"].files[0].size <= 2097152) {
                                        return true;
                                    } else {
                                        showErrorMessage(8, "El archivo supera el limite de 2MB (2048KB)");
                                        return false;
                                    }
                                }
                            }
                        </script>
                        <div class="form-group" style="display:none;">
                            <label>ParenId</label>
                            <input class="form-control" name="parentId" value="@user.UserGUID" readonly />
                        </div>
                        <div class="form-group" style="display:none;">
                            <label>Redirect</label>
                            <input class="form-control" name="redirect" value="@Url.Action("User", "Users", new { userId = user.UserId})" readonly />
                        </div>
                        <div class="form-group" style="display:none;">
                            <label>Route</label>
                            <input class="form-control" name="path" value="user" readonly />
                            <input class="form-control" name="controller" value="Users" readonly />
                        </div>
                        <div class="form-group form-group-sm col-md-12" style="text-align:end; padding-right:0px">
                            <label style="margin-right:8px;">Subir archivo - Max. 2MB(2048 KB)</label>
                            <input class="form-control" id="file" type="file" name="file" required value="" />
                            <input class="btn btn-sm btn-success" type="submit" value="Cargar" />
                        </div>
                    }
                </div>
            </div>
        </div>

        <!--SIDE PANEL-->
        <div class="col-md-4">
            <div class="panel panel-default" style="padding:0px; margin-top: 16px;">
                <a href="#glosary" data-toggle="collapse">
                    <div class="panel-heading" style="padding:16px;">
                        <h3 style="margin-top:0px; margin-bottom:0px;"><span class="glyphicon glyphicon-question-sign"></span> Glosario <span class="caret"></span></h3>
                    </div>
                </a>
                <div class="panel-body collapse" id="glosary">
                    <ul>
                        <li>
                            <label>Numero de serie</label>
                            <p>...</p>
                        </li>

                        <li>
                            <label>Tipo de dispositivo</label>
                            <p>...</p>
                        </li>

                        <li>
                            <label>Marca del dispositivo</label>
                            <p>...</p>
                        </li>

                        <li>
                            <label>Modelo del dispositivo</label>
                            <p>...</p>
                        </li>

                        <li>
                            <label>Numero de inventario</label>
                            <p>...</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div>
                <!--SNACK DE ALERTAS-->
                <div class="alert alert-danger" id="error-alert-snack" role="alert" style="margin-top: 16px; display:none;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Debes completar correctamente el formulario
                </div>
                <div class="alert alert-success" id="success-alert-snack" role="alert" style="margin-top: 16px; display:none;">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    Los cambios se han guardado correctamente
                </div>

                @if (ViewData["message"] != null)
                {
                    <script type="text/javascript">
                        retriveMessage();
                    </script>
                }
            </div>
        </div>
    </div>
</div>