
@{
    ViewBag.Title = "Editar impresora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    InventarioTIASPX.Models.Printer printer = ViewData["printer"] as InventarioTIASPX.Models.Printer;

    List<string> brands = ViewData["brands"] as List<string>;
    List<string> models = ViewData["models"] as List<string>;
    List<string> departments = ViewData["departments"] as List<string>;
    List<InventarioTIASPX.Models.User> users = ViewData["users"] as List<InventarioTIASPX.Models.User>;
}

<h2>@ViewBag.Title</h2>

<ul class="nav nav-pills">
    <li role="presentation"><a href="@Url.Action("", "Printers")">Regresar</a></li>
</ul>

<div class="row" style="margin-top: 0px">
    <div class="row">
        <!--FORMULARIO-->
        <div class="col-md-8">
            <div class="panel panel-default" style="padding:0px; margin-top: 16px;">
                <div class="panel-body">
                    @using (Html.BeginForm("Edit", "Printers", FormMethod.Post, new { @class = "form-inline", id = "form", onsubmit = "return validateSubmition()" }))
                    {
                        <script type="text/javascript">
                            function toggleBrand() {
                                var form = document.forms["form"];

                                if (form["brandselect"].value == -1) {
                                    form["Brand"].value = "";
                                    form["Brand"].style.display = "";
                                } else {
                                    form["Brand"].value = form["brandselect"].value;
                                    form["Brand"].style.display = "none";
                                }
                            }
                            function toggleModel() {
                                var form = document.forms["form"];

                                if (form["modelselect"].value == -1) {
                                    form["Model"].value = "";
                                    form["Model"].style.display = "";
                                } else {
                                    form["Model"].value = form["modelselect"].value;
                                    form["Model"].style.display = "none";
                                }
                            }
                            function toggleDepartment() {
                                var form = document.forms["form"];

                                if (form["SelectedDepartment"].value == -1) {
                                    form["Department"].value = "";
                                    form["Department"].style.display = "";
                                } else {
                                    form["Department"].value = form["SelectedDepartment"].value;
                                    form["Department"].style.display = "none";
                                }
                            }
                            function toggleConnection() {
                                var form = document.forms["form"];

                                if (form["ConnectionType"].value == "RED") {
                                    document.getElementById("hostnamegroup").style.display = ""
                                    form["Hostname"].required = true;
                                    form["Hostname"].value = "";
                                } else if (form["ConnectionType"].value == "LOCAL") {
                                    document.getElementById("hostnamegroup").style.display = "none"
                                    form["Hostname"].required = false;
                                    form["Hostname"].value = "";
                                } else {
                                    document.getElementById("hostnamegroup").style.display = "none"
                                    form["Hostname"].value = "";
                                }
                            }

                            function validateSubmition() {
                                var form = document.forms["form"];
                                var input1 = form["PrinterId"], input3 = form["Department"], input4 = form["Location"], input5 = form["Architecture"];
                                if (input1.value == "" || input3.value == "" || input4.value == "" || input5.value == "") {
                                    showErrorMessage(8, "Debes completar los campos obligatorios... Para mas informacion revisa el glosario");
                                    return false;
                                } else {
                                    return true;
                                }
                            }
                        </script>

                        <!--PrinterId-->
                        <div class="form-group" style="margin-bottom:10px;">
                            <label style="width:160px;">Serie de la impresora</label>
                            <input class="form-control" type="text" placeholder="#####-#####-#####" name="PrinterId" id="PrinterId" onkeyup="this.value = this.value.toUpperCase();" required style="width:225px;" readonly value="@printer.PrinterId" />
                        </div>

                        <!--Brand-->
                        <div class="form-group" style="margin-bottom:10px;">
                            <label style="width:160px;">Marca / Fabricante</label>
                            <select class="form-control" name="brandselect" onchange="toggleBrand()" required style="width:225px;">
                                <option value="">SELECCIONAR MARCA...</option>
                                <option value="-1">(AGREGAR NUEVO...)</option>
                                @foreach (var item in brands)
                                {
                                    if (item == printer.Brand)
                                    {
                                        <option value="@item" selected>@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                            <input class="form-control" type="text" placeholder="LEXMARK COMPANY" name="Brand" id="Brand" onkeyup="this.value = this.value.toUpperCase();" required style="width:225px; display:none;" value="@printer.Brand" />
                        </div>

                        <!--Model-->
                        <div class="form-group" style="margin-bottom:10px;">
                            <label style="width:160px;">Modelo</label>
                            <select class="form-control" name="modelselect" onchange="toggleModel()" required style="width:225px;">
                                <option value="">SELECCIONAR MODELO...</option>
                                <option value="-1">(AGREGAR NUEVO...)</option>
                                @foreach (var item in models)
                                {
                                    if (item == printer.Model)
                                    {
                                        <option value="@item" selected>@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                            <input class="form-control" type="text" placeholder="610XL SERIES" name="Model" id="Model" onkeyup="this.value = this.value.toUpperCase();" required style="width:225px; display:none;" value="@printer.Model" />
                        </div>

                        <!--ConnectionType-->
                        <div class="form-group" style="margin-bottom:10px;">
                            <label style="width:160px;">Modelo</label>
                            <select class="form-control" name="ConnectionType" onchange="toggleConnection()" required style="width:225px;">
                                <option value="">SELECCIONAR CONEXION...</option>
                                @if (printer.ConnectionType == "LOCAL")
                                {
                                    <option value="LOCAL" selected>USB - LOCAL</option>
                                    <option value="RED">ETHERNET/WIFI - RED</option>
                                }
                                else if (printer.ConnectionType == "RED")
                                {
                                    <option value="LOCAL">USB - LOCAL</option>
                                    <option value="RED" selected>ETHERNET/WIFI - RED</option>
                                }
                            </select>

                            @if (printer.ConnectionType == "LOCAL")
                            {
                                <!--Hostname-->
                                <div id="hostnamegroup" style="margin-top:10px; display:none;">
                                    <label style="width:160px;">Nombre de equipo</label>
                                    <input class="form-control" type="text" name="Hostname" onkeyup="this.value = this.value.toUpperCase();" style="width:225px;" />
                                </div>
                            }
                            else if (printer.ConnectionType == "RED")
                            {
                                <!--Hostname-->
                                <div id="hostnamegroup" style="margin-top:10px;">
                                    <label style="width:160px;">Nombre de equipo</label>
                                    <input class="form-control" type="text" name="Hostname" onkeyup="this.value = this.value.toUpperCase();" style="width:225px;" value="@printer.Hostname" />
                                </div>
                            }

                        </div>

                        <!--Department-->
                        <div class="form-group" style="margin-bottom:10px;">
                            <label style="width:160px;">Departamento</label>
                            <select class="form-control" name="SelectedDepartment" onchange="toggleDepartment()" required style="width:225px;">
                                <option value="">SELECCIONAR DEPARTAMENTO...</option>
                                <option value="-1">(AGREGAR NUEVO...)</option>
                                @{
                                    foreach (var item in departments)
                                    {
                                        if (item != null)
                                        {
                                            if (item == printer.Department)
                                            {
                                                <option value="@item" selected>@item</option>
                                            }
                                            else
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        }
                                    }
                                }
                            </select>
                            <input class="form-control" type="text" name="Department" onkeyup="this.value = this.value.toUpperCase();" required style="width:225px; display:none;" value="@printer.Department"/>
                        </div>
                        <br />

                        <!--UserGUID-->
                        <div class="form-group" style="margin-bottom:10px;">
                            <label style="width:160px;">Usuario</label>
                            <select class="form-control" name="UserGUID" style="width:225px;">
                                <option value="">SELECCIONAR USUARIO...</option>
                                @{
                                    foreach (var item in users)
                                    {
                                        if (item.UserGUID == printer.UserGUID)
                                        {
                                            <option value="@item.UserGUID" selected>@item.UserId - @item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.UserGUID">@item.UserId - @item.Name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <br />

                        <div class="form-group" style="margin-top: 16px;">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Guardar</button>
                        </div>
                    }
                </div>
            </div>
        </div>

        <!--SIDE PANEL-->
        <div class="col-md-4">
            <div class="panel panel-default" style="padding:0px; margin-top: 16px;">
                <a href="#glosary" data-toggle="collapse">
                    <div class="panel-heading" style="padding:16px;">
                        <h3 style="margin-top:0px; margin-bottom:0px;"><span class="glyphicon glyphicon-question-sign"></span> Glosario <span class="caret"></span></h3>
                    </div>
                </a>
                <div class="panel-body collapse" id="glosary">
                    <ul>
                        <li>
                            <label>Serie del procesador</label>
                            <p>...</p>
                        </li>

                        <li>
                            <label>Departamento</label>
                            <p>...</p>
                        </li>

                        <li>
                            <label>Ubicacion fisica</label>
                            <p>...</p>
                        </li>

                        <li>
                            <label>Arquitectura del sistema</label>
                            <p>...</p>
                        </li>

                        <li>
                            <label>Usuario</label>
                            <p>...</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div>
                <!--SNACK DE ALERTAS-->
                <div class="alert alert-danger" id="error-alert-snack" role="alert" style="margin-top: 16px; display:none;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Debes completar correctamente el formulario
                </div>
                <div class="alert alert-success" id="success-alert-snack" role="alert" style="margin-top: 16px; display:none;">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    Los cambios se han guardado correctamente
                </div>

                @if (ViewData["message"] != null)
                {
                    <script type="text/javascript">
                        retriveMessage();
                    </script>
                }
            </div>
        </div>
    </div>
</div>