
@{
    ViewBag.Title = "Coleccion de impresoras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<InventarioTIASPX.Models.Printer> printers = ViewData["printers"] as List<InventarioTIASPX.Models.Printer>;
    List<string> departments = ViewData["departments"] as List<string>;
    List<string> locations = ViewData["locations"] as List<string>;
    List<string> brands = ViewData["brands"] as List<string>;
    List<string> models = ViewData["models"] as List<string>;
}

<h2>@ViewBag.Title</h2>

<ul class="nav nav-pills">
    <li role="presentation"><a href="@Url.Action("", "")">Ir al menu</a></li>
    <li role="presentation"><a href="@Url.Action("NewPrinter", "Printers")">Agregar impresora</a></li>
</ul>

<div class="row" style="text-align:right;">
    <div class="col-md-10" style="text-align:right;">
        <label>Total de elementos</label>
        <p>@printers.Count Registro(s)</p>
    </div>
    <div class="col-md-2" style="text-align:right;">
        <label>Elementos filtrados</label>
        <p id="regcount">0 Registro(s)</p>
    </div>
</div>

<table class="table" id="printerstable">
    <thead>
        <tr>
            <th scope="col">
                Departamento
                <br />
                <select class="form-control" id="filter-1">
                    <option value="" selected>Filtrar...</option>
                    @foreach (var item in departments)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </th>

            <th scope="col">
                Ubicacion fisica
                <br />
                <input class="form-control" placeholder="Filtrar..." type="text" list="locationslist" id="filter-2" onkeyup="this.value = this.value.toUpperCase();" />
                <datalist id="locationslist">
                    @foreach (var item in locations)
                    {
                        <option value="@item">@item</option>
                    }
                </datalist>
            </th>

            <th scope="col">
                Serie
                <br />
                <input class="form-control" placeholder="Filtrar..." type="text" list="printerIdlist" id="filter-3" onkeyup="this.value = this.value.toUpperCase();" />
                <datalist id="printerIdlist">
                    <option value="" selected>Filtrar...</option>
                    @foreach (var item in printers)
                    {
                        <option value="@item.PrinterId">@item.PrinterId</option>
                    }
                </datalist>
            </th>

            <th scope="col">
                Modelo
                <br />
                <input class="form-control" type="text" id="filter-4" placeholder="Filtrar..." onkeyup="this.value = this.value.toUpperCase();" />
            </th>


            <th scope="col" style="width:275px;">
                Acciones
                <br />
                <button class="btn btn-default hidden-print" onclick="ClearFilters()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Quitar filtros</button>
                <button class="btn btn-default hidden-print" onclick="ApplyFilters()"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Aplicar filtros</button>
            </th>

        </tr>
    </thead>
    @if (printers.Count > 0)
    {
        <tbody>
            @{
                foreach (var item in printers)
                {
                    <tr>
                        <td scope="row">@item.Department</td>
                        <td scope="row">@item.Location</td>
                        <td>@item.PrinterId</td>
                        <td>@item.Brand - @item.Model</td>
                        <td style="text-align:right;">
                            @Html.ActionLink("Ver mas...", "Printer", "Printers", new { printerId = item.PrinterId }, new { @class = "btn btn-default btn-sm hidden-print" })
                            @Html.ActionLink("Modificar", "EditPrinter", "Printers", new { printerId = item.PrinterId }, new { @class = "btn btn-default btn-sm hidden-print" })
                            @Html.ActionLink("Eliminar", "DeletePrinter", "Printers", new { printerId = item.PrinterId }, new { @class = "btn btn-danger btn-sm hidden-print" })
                        </td>
                    </tr>
                }
            }
        </tbody>
    }
</table>

<script src="~/Scripts/MyScripts/JSFilter.js"></script>
<script type="text/javascript">
    Filter = new JSFilter(document.getElementById("printerstable"), document.getElementById("regcount"));

    function ClearFilters() {
        document.getElementById("filter-1").value = "";
        document.getElementById("filter-2").value = "";
        document.getElementById("filter-3").value = "";
        document.getElementById("filter-4").value = "";
        RemoveFilters()
    }
    function RemoveFilters() {
        Filter.FilterBy("", 0);
        Filter.FilterBy("", 1);
        Filter.FilterBy("", 2);
        Filter.FilterBy("", 3);
    }
    function ApplyFilters() {
        RemoveFilters();
        // col-0
        if (document.getElementById("filter-1").value.trim() != "") {
            Filter.FilterBy(document.getElementById("filter-1").value, 0);
        }
        // col-1
        if (document.getElementById("filter-2").value.trim() != "") {
            Filter.FilterBy(document.getElementById("filter-2").value, 1);
        }
        // col-2
        if (document.getElementById("filter-3").value.trim() != "") {
            Filter.FilterBy(document.getElementById("filter-3").value, 2);
        }
        // col-3
        if (document.getElementById("filter-4").value.trim() != "") {
            Filter.FilterBy(document.getElementById("filter-4").value, 2);
        }
    }
</script>