
@{
    ViewBag.Title = "Device";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    InventarioTIASPX.Models.Device device = ViewData["device"] as InventarioTIASPX.Models.Device;
}

<h2>Dispositivo</h2>

<div class="row" style="margin-top: 32px">
    <!--SNACK DE ALERTAS-->
    <div class="col-md-8 col-md-offset-2 alert alert-danger" id="error-alert-snack" role="alert" style="margin-top: 16px; display:none;">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Debes completar correctamente el formulario
    </div>
    <div class="col-md-8 col-md-offset-2 alert alert-success" id="success-alert-snack" role="alert" style="margin-top: 16px; display:none;">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        Los cambios se han guardado correctamente
    </div>

    <script type="text/javascript">
        retriveMessage();
    </script>

    <div class="row">
        <!--Links-->
        <div class="col-md-8">
            <div class="panel panel-default" style="padding:0px; margin-top: 16px;">
                <div class="panel-body">
                    <div>
                        <label>Numero de serie:</label>
                        <p style="margin-left:8px;">@device.DeviceId</p>
                    </div>

                    <div>
                        <label>Tipo de dispositivo:</label>
                        <p style="margin-left:8px;">@device.Type</p>
                    </div>

                    <div>
                        <label>Fabricante:</label>
                        <p style="margin-left:8px;">@device.Brand</p>
                    </div>

                    <div>
                        <label>Modelo:</label>
                        <p style="margin-left:8px;">@device.Model</p>
                    </div>

                    <div>
                        <label>Inventario:</label>
                        <p style="margin-left:8px;">@device.Inventory</p>
                    </div>
                </div>
            </div>
        </div>

        <!--SIDE PANEL-->
        <div class="col-md-4">
            <div class="panel panel-default" style="padding:0px; margin-top: 16px;">
                <a href="#glosary" data-toggle="collapse">
                    <div class="panel-heading" style="padding:16px;">
                        <h3 style="margin-top:0px; margin-bottom:0px;"><span class="glyphicon glyphicon-question-sign"></span> Glosario <span class="caret"></span></h3>
                    </div>
                </a>
                <div class="panel-body collapse" id="glosary">
                    <ul>
                        <li>
                            <label>Numero de serie</label>
                            <p>...</p>
                        </li>

                        <li>
                            <label>Tipo de dispositivo</label>
                            <p>...</p>
                        </li>

                        <li>
                            <label>Marca del dispositivo</label>
                            <p>...</p>
                        </li>

                        <li>
                            <label>Modelo del dispositivo</label>
                            <p>...</p>
                        </li>

                        <li>
                            <label>Numero de inventario</label>
                            <p>...</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>