
@{
    ViewBag.Title = "Catalogo de dispositivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<InventarioTIASPX.Models.Device> devices = ViewData["devices"] as List<InventarioTIASPX.Models.Device>;
    List<string> devicetypes = ViewData["devicetypes"] as List<string>;
    List<string> devicebrands = ViewData["deviceBrands"] as List<string>;
    List<string> devicemodels = ViewData["deviceModels"] as List<string>;
}

<h2>@ViewBag.Title</h2>

<ul class="nav nav-pills">
    <li role="presentation"><a href="@Url.Action("", "")">Ir al menu</a></li>
    <li role="presentation"><a href="@Url.Action("NewDevice", "Devices")">Agregar dispositivo</a></li>
</ul>

<div class="row" style="text-align:right;">
    <div class="col-md-10" style="text-align:right;">
        <label>Total de elementos</label>
        <p>@devices.Count Registro(s)</p>
    </div>
    <div class="col-md-2" style="text-align:right;">
        <label>Elementos filtrados</label>
        <p id="regcount">0 Registro(s)</p>
    </div>
</div>

<table class="table" id="devicetable">
    <thead>
        <tr>
            <th scope="col">
                Dispositivo
                <br />
                <select class="form-control" id="filter-1">
                    <option value="">Filtrar...</option>
                    @foreach (var item in devicetypes)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </th>

            <th scope="col">
                Fabricante
                <br />
                <select class="form-control" id="filter-2">
                    <option value="">Filtrar...</option>
                    @foreach (var item in devicebrands)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </th>

            <th scope="col">
                Modelo
                <br />
                <select class="form-control" id="filter-3">
                    <option value="">Filtrar...</option>
                    @foreach (var item in devicemodels)
                    {
                        if (item != null)
                        {
                            <option value="@item">@item</option>
                        }
                    }
                </select>
            </th>

            <th scope="col">
                Serie
                <br />
                <input class="form-control" placeholder="Filtrar..." type="text" id="filter-4" onkeyup="this.value = this.value.toUpperCase();" />
            </th>

            <th scope="col" style="width:275px;">
                Acciones
                <br />
                <button class="btn btn-default hidden-print" onclick="ClearFilters()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Quitar filtros</button>
                <button class="btn btn-default hidden-print" onclick="ApplyFilters()"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Aplicar filtros</button>
            </th>

        </tr>
    </thead>
    @if (devices.Count > 0)
    {
        <tbody>
            @{
                foreach (var item in devices)
                {
                    <tr>
                        <td scope="row">@item.Type</td>
                        <td>@item.Brand</td>
                        <td>@item.Model</td>
                        <td>@item.DeviceId</td>
                        <td style="text-align:right;">
                            @Html.ActionLink("Ver mas...", "Device", "Devices", new { deviceId = item.DeviceId }, new { @class = "btn btn-default btn-sm hidden-print" })
                            @Html.ActionLink("Modificar", "EditDevice", "Devices", new { deviceId = item.DeviceId }, new { @class = "btn btn-default btn-sm hidden-print" })
                            @Html.ActionLink("Eliminar", "DeleteDevice", "Devices", new { deviceId = item.DeviceId }, new { @class = "btn btn-danger btn-sm hidden-print" })
                        </td>
                    </tr>
                }
            }
        </tbody>
    }
</table>

<script src="~/Scripts/MyScripts/JSFilter.js"></script>
<script type="text/javascript">
    Filter = new JSFilter(document.getElementById("devicetable"), document.getElementById("regcount"));

    function ClearFilters() {
        document.getElementById("filter-1").value = "";
        document.getElementById("filter-2").value = "";
        document.getElementById("filter-3").value = "";
        document.getElementById("filter-4").value = "";

        RemoveFilters()
    }
    function RemoveFilters() {
        Filter.FilterBy("", 0);
        Filter.FilterBy("", 1);
        Filter.FilterBy("", 2);
        Filter.FilterBy("", 3);
    }
    function ApplyFilters() {
        RemoveFilters();
        // col-0
        if (document.getElementById("filter-1").value.trim() != "") {
            Filter.FilterBy(document.getElementById("filter-1").value, 0);
        }
        // col-1
        if (document.getElementById("filter-2").value.trim() != "") {
            Filter.FilterBy(document.getElementById("filter-2").value, 1);
        }
        // col-2
        if (document.getElementById("filter-3").value.trim() != "") {
            Filter.FilterBy(document.getElementById("filter-3").value, 2);
        }
        // col-3
        if (document.getElementById("filter-4").value.trim() != "") {
            Filter.FilterBy(document.getElementById("filter-4").value, 3);
        }

    }
</script>