
@{
    ViewBag.Title = "Coleccion de equipos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    List<InventarioTIASPX.Models.Computer> computers = ViewData["computers"] as List<InventarioTIASPX.Models.Computer>;
    List<string> departments = ViewData["departments"] as List<string>;
    List<string> locations = ViewData["locations"] as List<string>;
}

<h2>@ViewBag.Title</h2>

<ul class="nav nav-pills">
    <li role="presentation"><a href="@Url.Action("", "")">Ir al menu</a></li>
    <li role="presentation"><a href="@Url.Action("NewComputer", "Computers")">Agregar computadora</a></li>
</ul>

<div class="row" style="text-align:right;">
    <div class="col-md-10" style="text-align:right;">
        <label>Total de elementos</label>
        <p>@computers.Count Registro(s)</p>
    </div>
    <div class="col-md-2" style="text-align:right;">
        <label>Elementos filtrados</label>
        <p id="regcount">0 Registro(s)</p>
    </div>
</div>

<table class="table" id="computersTable">
    <thead>
        <tr>
            <th scope="col">
                Departamento
                <br />
                <select class="form-control" id="filter-1">
                    <option value="">Filtrar...</option>
                    @foreach (var item in departments)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </th>

            <th scope="col" style="width:280px;">
                Ubicacion
                <br />
                <input class="form-control" placeholder="Filtrar..." type="text" list="locationslist" id="filter-2" onkeyup="this.value = this.value.toUpperCase();" />
                <datalist id="locationslist">
                    <option value="" selected></option>
                    @foreach (var item in locations)
                    {
                        <option value="@item">@item</option>
                    }
                </datalist>
            </th>

            <th scope="col">
                Hostname
                <br />
                <input class="form-control" placeholder="Filtrar..." type="text" list="hostnamelist" id="filter-3" onkeyup="this.value = this.value.toUpperCase();" />
                <datalist id="hostnamelist">
                    <option value="" selected></option>
                    @foreach (var item in computers)
                    {
                        <option value="@item.Hostname">@item.Hostname</option>
                    }
                </datalist>
            </th>

            <th scope="col">
                Serie
                <br />
                <input class="form-control" placeholder="Filtrar..." type="text" list="computerIdlist" id="filter-4" onkeyup="this.value = this.value.toUpperCase();" />
                <datalist id="computerIdlist">
                    <option value="" selected></option>
                    @foreach (var item in computers)
                    {
                        <option value="@item.ComputerId">@item.ComputerId</option>
                    }
                </datalist>
            </th>

            <th scope="col">
                Modelo
                <br />
                <input class="form-control" placeholder="Filtrar..." type="text" id="filter-5" onkeyup="this.value = this.value.toUpperCase();" />
            </th>

            <th scope="col" style="width:275px;">
                Acciones
                <br />
                <button class="btn btn-default hidden-print" onclick="ClearFilters()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Quitar filtros</button>
                <button class="btn btn-default hidden-print" onclick="ApplyFilters()"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Aplicar filtros</button>
            </th>

        </tr>
    </thead>
    @if (computers.Count > 0)
    {
        <tbody>
            @{
                foreach (var item in computers)
                {
                    <tr>
                        <td scope="row">@item.Department</td>
                        <td>@item.Location</td>
                        <td>@item.Hostname</td>
                        <td>@item.Processor.DeviceId</td>
                        <td>@item.Processor.Brand - @item.Processor.Model</td>
                        <td style="text-align:right;">
                            @Html.ActionLink("Ver mas...", "Computer", "Computers", new { computerId = item.ComputerId }, new { @class = "btn btn-default btn-sm hidden-print" })
                            @Html.ActionLink("Modificar", "EditComputer", "Computers", new { computerId = item.ComputerId }, new { @class = "btn btn-default btn-sm hidden-print" })
                            @Html.ActionLink("Eliminar", "Delete", "Computers", new { computerId = item.ComputerId }, new { @class = "btn btn-danger btn-sm hidden-print" })
                        </td>
                    </tr>
                }
            }
        </tbody>
    }
</table>

<script src="~/Scripts/MyScripts/JSFilter.js"></script>
<script type="text/javascript">
    Filter = new JSFilter(document.getElementById("computersTable"), document.getElementById("regcount"));

    function ClearFilters() {
        document.getElementById("filter-1").value = "";
        document.getElementById("filter-2").value = "";
        document.getElementById("filter-3").value = "";
        document.getElementById("filter-4").value = "";
        document.getElementById("filter-5").value = "";

        RemoveFilters();
    }
    function RemoveFilters() {
        //let Filter = new JSFilter(document.getElementById("computersTable"), document.getElementById("regcount"));
        
        Filter.FilterBy("", 0);
        Filter.FilterBy("", 1);
        Filter.FilterBy("", 2);
        Filter.FilterBy("", 3);
        Filter.FilterBy("", 4);
    }
    function ApplyFilters() {
        //let Filter = new JSFilter(document.getElementById("computersTable"), document.getElementById("regcount"));

        RemoveFilters();
        // col-0
        if (document.getElementById("filter-1").value.trim() != "") {
            Filter.FilterBy(document.getElementById("filter-1").value, 0);
        }
        // col-1
        if (document.getElementById("filter-2").value.trim() != "") {
            Filter.FilterBy(document.getElementById("filter-2").value, 1);
        }
        // col-2
        if (document.getElementById("filter-3").value.trim() != "") {
            Filter.FilterBy(document.getElementById("filter-3").value, 2);
        }
        // col-3
        if (document.getElementById("filter-4").value.trim() != "") {
            Filter.FilterBy(document.getElementById("filter-4").value, 3);
        }
        // col-4
        if (document.getElementById("filter-5").value.trim() != "") {
            Filter.FilterBy(document.getElementById("filter-5").value, 4);
        }
    }
    // function FilterBy(str, col) {
    //     var table = document.getElementById("computersTable");
    //     var rows = table.getElementsByTagName("tbody")[0].getElementsByTagName("tr");
    //     var count = 0;
    //     for (var i = 0; i < rows.length; i++) {
    //         var cell = rows[i].getElementsByTagName("td")[col];
    // 
    //         if (str != "") {
    //             if (rows[i].style.display == "") {
    //                 if (cell.textContent.includes(str.trim().toUpperCase())) {
    //                     rows[i].style.display = "";
    //                     count += 1;
    //                 } else {
    //                     rows[i].style.display = "none";
    //                 }
    //             }
    //         } else {
    //             rows[i].style.display = "";
    //         }
    //     }
    // 
    //     document.getElementById("regcount").innerHTML = count + " Registro(s)"
    // }
</script>